# Node modules
node_modules/

# Compilés
dist/
build/

# Environnements
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
